*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial;
    background:#f4f4f4;
    color:black;
}

/* NAVBAR */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:black;
    color:white;
    padding:20px;
}

.nav-links{
    display:flex;
    list-style:none;
}

.nav-links li{
    margin:0 15px;
}

.nav-links a{
    color:white;
    text-decoration:none;
}

.dark-btn{
    padding:10px;
    border:none;
    background:white;
    cursor:pointer;
}

/* HOME */

.home{
    text-align:center;
    padding:60px 20px;
}

.profile-img{
    width:200px;
    height:200px;
    border-radius:50%;
    object-fit:cover;
}

.home h2{
    margin-top:20px;
    font-size:40px;
}

.home h3{
    margin:10px 0;
    color:blue;
}

.btn{
    padding:12px 20px;
    background:black;
    color:white;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

/* ABOUT */

.about{
    padding:50px;
    background:white;
}

.about h2{
    margin-bottom:20px;
}

/* SKILLS */

.skills{
    padding:50px;
}

.skills-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.skill-card{
    background:white;
    padding:30px;
    width:180px;
    text-align:center;
    border-radius:10px;
    transition:0.3s;
}

.skill-card:hover{
    transform:scale(1.05);
}

.skill-card i{
    font-size:50px;
    margin-bottom:15px;
}

/* PROJECTS */

.projects{
    padding:50px;
    background:white;
}

.project-container{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.project-card{
    width:300px;
    background:#f4f4f4;
    border-radius:10px;
    overflow:hidden;
}

.project-card img{
    width:100%;
}

.project-card h3,
.project-card p{
    padding:10px;
}

/* CONTACT */

.contact{
    padding:50px;
}

form{
    display:flex;
    flex-direction:column;
    max-width:500px;
    margin:auto;
}

form input,
form textarea{
    margin:10px 0;
    padding:15px;
}

form button{
    padding:15px;
    background:black;
    color:white;
    border:none;
}

/* FOOTER */

footer{
    background:black;
    color:white;
    text-align:center;
    padding:20px;
}

.social-links a{
    color:white;
    margin:0 10px;
    font-size:25px;
}

/* DARK MODE */

.dark-mode{
    background:#111;
    color:white;
}

/* RESPONSIVE */

@media(max-width:768px){

    .navbar{
        flex-direction:column;
    }

    .nav-links{
        flex-direction:column;
        margin-top:15px;
    }

    .nav-links li{
        margin:10px 0;
    }

    .project-container{
        justify-content:center;
    }

}